body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
text-decoration: none;
color: currentColor;
}

ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding: 100px 156px;
}

.gallery li{
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  object-fit: cover;
  height: 100%;
}
