body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
text-decoration: none;
color: currentColor;
}

ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  width: 100%;
  max-width: 408px;
  min-height: 256px;
}

.form-label{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input-title{
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  
}

.form-input{
  height: 40px;
  width: 100%;
  max-width: 360px;
  padding: 8px 0px 8px 16px;
  border: solid 1px #808080;
  border-radius: 4px;
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover{
  border-color: #000000;
}

.form-btn{
  width: 92px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover{
  background-color: #6C8CFF;
}